#jombelajarjava-commentbox {
    padding: 1px 15px 15px 15px;
}

#jombelajarjava-commentbox textarea {
    width: 100%;
    resize: none;
}
#jombelajarjava-commentbox .form-buttons-container {
    text-align: right;
}
#jombelajarjava-commentbox .form-buttons-container a {
    margin-left: 10px;
}

#jombelajarjava-commentbox .thread-list {
    padding: 0;
    margin: 0;
}
#jombelajarjava-commentbox .load-more {
    text-align: center;
}

#jombelajarjava-commentbox li {
    list-style-type: none;
    padding: 1px 16px;
}
#jombelajarjava-commentbox .reply-button {
    text-align: right;
}
#jombelajarjava-commentbox .view-reply-button {
    text-align: center;
}

#jombelajarjava-commentbox .recent {
    animation: .3s jombelajarjava-flash 4 alternate;
}

@keyframes jombelajarjava-flash {
    from { background-color: inherit; }
    to { background-color: #bdffbd; }
}
