#jombelajarjava-commentbox {
    padding: 1px 15px 15px 15px;
}

#jombelajarjava-commentbox textarea {
    width: 100%;
    resize: none;
}
#jombelajarjava-commentbox .form-buttons-container {
    text-align: right;
}
#jombelajarjava-commentbox .form-buttons-container a {
    margin-left: 10px;
}

#jombelajarjava-commentbox .thread-list {
    padding: 0;
    margin: 0;
    transition: height .3s;
}
#jombelajarjava-commentbox .load-more {
    text-align: center;
}

#jombelajarjava-commentbox .reply-list {
    transition: height .3s, opacity .3s;
}

#jombelajarjava-commentbox li {
    list-style-type: none;
    padding: 1px 16px;
    overflow: hidden;
}
#jombelajarjava-commentbox .reply-form {
    transition: height .3s, opacity .3s;
    padding: 0 5px;
    overflow: hidden;
}
#jombelajarjava-commentbox .reply-button {
    text-align: right;
}
#jombelajarjava-commentbox .view-reply-button {
    text-align: center;
}

#jombelajarjava-commentbox .recent {
    animation: .3s jombelajarjava-flash 4 alternate;
}

#jombelajarjava-commentbox .loader {
    border: 3px solid #f3f3f3;
    border-left: 3px solid #e099ff;
    border-right: 3px solid #e099ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    animation: jombelajarjava-spin 1s linear infinite;
}
#jombelajarjava-commentbox .loader-container {
    /* text-align: center; */
    margin-left: 100px;
}

@keyframes jombelajarjava-flash {
    from { background-color: inherit; }
    to { background-color: #bdffbd; }
}
@keyframes jombelajarjava-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
