<!DOCTYPE html>
<html>
  <head>
    <title>Comment Box &middot; Jom Belajar Java</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Projek demo untuk aplikasi comment box menggunakan Spring Boot">
    {{#embed}}<link rel=stylesheet href="{{ baseUrl }}/commentbox_style.css">{{/embed}}
    <style>
     main {
         margin: 20px auto;
         max-width: 650px;
         color: #444444;
     }
     article {
         border: 1px solid #c4c4c4;
         border-radius: 12px;
         padding: 12px;
         margin-bottom: 20px;
     }
     h2 {
         margin: 2px;
     }
     pre {
         background-color: #ededed;
         padding: 16px;
         overflow-x: scroll;
     }
     code {
         background-color: #ededed;
         padding: 2px 6px;
     }
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1>Jom Belajar Java &middot; Comment Box</h1>
        <p>Projek demo untuk aplikasi comment box menggunakan Spring Boot</p>
      </header>

      <article>
        <h2>Arahan</h2>
        <p>
          Tambah line berikut di dalam bahagian <code>&lt;head></code> HTML:
        </p>
        <pre><code>{{> snippets/css}}</code></pre>
        <p>
          Kemudian, tambah line berikut di bahagian bawah HTML di atas
          <code>&lt;/body></code>:
        </p>
        <pre><code>{{> snippets/script}}</code></pre>
        <p>
          Akhir sekali, letakkan code berikut di bahagian yang anda mahu
          letakkan comment box:
        </p>
        <pre><code>{{> snippets/div}}</code></pre>
      </article>

      {{#embed}}<div id="jombelajarjava-commentbox"></div>{{/embed}}
    </main>

    {{#embed}}<script src="{{ baseUrl }}/embed.js"></script>{{/embed}}
  </body>
</html>
